@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(products: List[Product])(implicit flash: Flash, lang: Lang, messagesProvider: MessagesProvider)

@main(Messages("application.name")) {
<dl class="products">

    @for(product <- products) {
    <dt>
        <a href="@controllers.routes.ProductsController.show(product.ean)">
            @product.name
        </a>
    </dt>
    <dd>@product.description</dd>
    }

</dl>

<p>
    <a href="@controllers.routes.ProductsController.newProduct()"
       class="btn">
        <i class="icon-plus"></i> @Messages("products.new.command")</a>
</p>

}
